:root {
    --primary-color: #000000;
    --accent-color: #c9750d;
    --text-color: #e0e0e0;
    --text-color-hover: #ffffff;
    --background-gradient: linear-gradient(135deg, #000000, #000000);
    --heading-color: #c9750d; /* Assuming you want headings to be the same as accent color */
    --description-color: #e0e0e0; /* Using the text color for descriptions */
}

/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--primary-color);
    color: var(--text-color);
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 60px; 
}

/* Typography */
h1, h2, h3, h4, h5, h6 {
    /* font-weight: 600;
    margin: 1rem 0; */
    color: var(--heading-color);
    font-weight: bold; /* Bold text for headings */
    margin: 1rem 0;
}

p {
    line-height: 1.6;
    margin-bottom: 1rem;
    font-size: 1.1em;
}

/* Navigation */
nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000; 
    background-color: rgba(0, 0, 0, 0.9);
    padding: 0.8rem;
    transition: all 0.3s ease;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    height: 35px;
    transition: transform 0.3s ease;
}

.logo img:hover {
    transform: scale(1.1);
}

.nav-links {
    list-style-type: none;
    display: flex;
}

.nav-links li {
    margin-left: 1.5rem;
}

.nav-links a {
    color: var(--text-color);
    text-decoration: none;
    position: relative;
    transition: color 0.3s, transform 0.3s;
}

.nav-links a::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background: var(--accent-color);
    left: 0;
    bottom: -2px;
    opacity: 0;
    transform: scaleX(0);
    transition: all 0.3s ease;
}

.nav-links a:hover {
    color: var(--text-color-hover);
    transform: translateY(-2px);
}

.nav-links a:hover::after {
    opacity: 1;
    transform: scaleX(1);
}

/* Hamburger Menu */
.hamburger-menu, .menu-links {
    display: none;
}

@media (max-width: 768px) {
    .nav-links {
        display: none;
    }
    
    .hamburger-menu {
        display: block;
        cursor: pointer;
        z-index: 1001;
    }

    .hamburger-icon span {
        display: block;
        width: 25px;
        height: 2px;
        background: var(--text-color);
        margin: 5px 0;
        transition: all 0.3s ease;
    }

    .hamburger-icon.open span:nth-child(1) {
        transform: rotate(45deg) translate(5px, 5px);
    }

    .hamburger-icon.open span:nth-child(2) {
        opacity: 0;
    }

    .hamburger-icon.open span:nth-child(3) {
        transform: rotate(-45deg) translate(7px, -7px);
    }

    .menu-links {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 100%;
        right: 0;
        background: rgba(0, 0, 0, 0.9);
        width: 150px;
        transform: translateX(100%);
        transition: transform 0.3s ease;
        padding: 1rem;
    }

    .menu-links.open {
        transform: translateX(0);
        display: flex;
    }

    .menu-links li {
        margin: 0.5rem 0;
    }
}

/* Main Content */
main {
    margin-top: 60px; /* Margin for fixed header */
}

section {
    padding: 4rem 1rem;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background: rgba(255, 255, 255, 0.02); */
    background: var(--background-gradient);
    color: var(--text-color);
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    margin-top: 60px; /* Added margin to prevent header overlap */
}

/* Home Section */
#home {
    text-align: center;
    background: var(--background-gradient);
    color: white;
}

.section_pic_container {
    width: 200px;
    height: 200px;
    margin-bottom: 2rem;
    overflow: hidden;
    border-radius: 50%;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.2);
}

.section_pic_container img {
    width: 100%;
    height: auto;
    transition: transform 0.3s ease;
}

.section_pic_container:hover img {
    transform: scale(1.1);
}

.title_1 {
    font-size: 2.5em;
    background: -webkit-linear-gradient(#f37335, #fdc830);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.btn_container button {
    background: var(--accent-color);
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    border-radius: 50px;
    transition: all 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.btn_container button:hover {
    transform: translateY(-2px);
    box-shadow: 0 7px 10px rgba(0, 0, 0, 0.2);
}

/* Text Effects */
.text_container {
    max-width: 800px;
    margin: 0 auto;
}

/* .text_container p {
    animation: fadeIn 3s;
} */

#Experience .text_container h3 {
    margin-bottom: 0; /* Remove bottom margin from h3 */

}

#Experience .text_container p {
    color: #df953a88;
}

.text_container p {
    margin-top: 0; /* Remove top margin from p */
    margin-bottom: 0.5em; /* Add some small margin for readability */
    /* font-weight: bold; */
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

/* Projects, Skills, Education, Publications, Certifications */
.details_container {
    display: flex;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1.5rem;
    margin-top: 2rem;
}

.details_container > div {
    background: rgba(255, 255, 255, 0.05);
    padding: 1.5rem;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s, box-shadow 0.3s;
}

.details_container > div:hover {
    transform: translateY(-5px);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.7);
}

.subdetail_container {
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 8px;
    transition: background-color 0.3s;
}

.sub-detail_container {
    background-color: #000000; 
    border: none; 
    border-radius: 5px;
    padding: 1.5rem;
    max-width: 235px;
    text-align: left;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    transition: transform 0.2s ease-in-out;
   
    width: 235px; 
}

.sub-detail_container:hover {
    transform: scale(1.02);
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
}

.subdetail_container:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.tech-stack {
    display: block;
    font-size: 0.9em;
    color: #b0b0b0;
}

.project_img {
    max-width: 100px;
    height: auto;
    transition: transform 0.3s;
    animation: float 3s ease-in-out infinite;
}

@keyframes float {
    0% { transform: translateY(0); }
    50% { transform: translateY(-5px); }
    100% { transform: translateY(0); }
}

.project_img:hover {
    transform: scale(1.1);
    animation: none;
}

/* Contact */
.contact-container {
    /* background: rgba(255, 255, 255, 0.1); */
    padding: 1rem;
    border-radius: 10px;
    color: #ffffff;
}

#contact .contact-info .info-item a {
    color: #FFFFFF;
    text-decoration: none;
}

/* Footer */
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    /* background: rgba(255, 255, 255, 0.1); */
    padding: 1rem;
    text-align: center;
}

footer ul {
    list-style-type: none;
    display: flex;
}

footer ul li {
    margin-left: 15px;
}

footer ul li a {
    color: var(--text-color);
}

footer ul li a:hover {
    color: var(--accent-color);
}

/* For hash links */
section:target {
    padding-top: 60px; /* Height of header */
    margin-top: -60px; /* Counteract padding for normal flow */
}